<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ponto_Chamados.Properties.Settings.PCConnectionString"
            connectionString="Data Source=SAO-9650SP2;Initial Catalog=PC;User ID=sa;Password=everis@2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>